* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Roboto;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-left: 1rem;
}

input[type='text'] {
  font-size: 16px;
  font-size: max(16px, 1em);
  width: 20rem;
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 0.5px solid black;
  border-radius: 4px;
}

input[type='submit'] {
  border: 0.5px #555 solid;
  border-radius: 10px;
  background-color: #555;
  color: white;
}

input[type='submit']:hover {
  background-color: #3d3742;
}

.weather {
  text-align: center;
  margin-top: 2rem;
}
